/* Created by: MariaG
 * Modified by: Ms Raffin
 * Created on: March 2022
 * This CSS file defines the style for index.php
 * ICS2O-Unit2-03-PHP-UserInput
*/

form {
  background-color: #943dff;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h1 {
  background-color: #94eff5;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h3 {
  background-color: #e26f6f;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

p {
  width: 80%;
  margin-left: 10%;
}

iframe {
  margin-bottom: 5%;
  background-color: #82f299;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}

#yellow {
  background-color: #4392f9;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}
